#Листинг 2.7: Представление index для пользователей. app/views/users/index.html.erb
<p>branch usernew-static-controllers-aug30-new-registration
% provide(:title, 'All users') %>
<h1>All users</h1>
<h1>Студенты на libr.1gb.ua August 30</h1>

<table>
  <thead>
    <tr>
      <th>login</th>
      <th>phone</th>

      <th>email</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>


	<tbody>
<% @users.each do |user| %>
     	 <tr>
		         <td><%= user.login %></td>
		         <td><%= user.phone %></td>

<td><%= user.email %></td>
		         <td><%= user.name %></td>
	      </tr> 
	</tbody>
<% end %>
 
 

</table>
 <br>

<%= link_to 'New User', new_user_path %>

