#Листинг 10.6: Сгенерированное текстовое представление для активации аккаунта. app/#views/user_mailer/account_activation.text.erb 
#Листинг 10.12: Текстовое представление для активации аккаунта. app/views/user_mailer/#account_activation.text.erb

UserMaileraccount_activation
Привет, <%#= @user.name %>!

Добро пожаловать в Учебное Приложение! Перейдите по ссылке для активации аккаунта:

<%#= edit_account_activation_url(@user.activation_token, email: @user.email) %>




<%= @greeting %>, find me in app/views/user_mailer/account_activation.text.erb
