March_23 Aug_26  2021 /students/_form
<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>
      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%#= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


@student.user.id = <%= @student.user.id %><br>
user_id
 <div class="field">
    <%= f.label :userid! %><br>
    <%= f.number_field :user_id  %>
  </div>

<div class="field">
    <%= f.label :studentid %><br>
    <%= f.number_field :id %>
  </div>
<div class="field">
    <%= f.number_field :user_id, placeholder: "Compose new student..." %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>

  <div class="field">
    <%= f.label :fio %><br>
    <%= f.text_field :fio %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  
 <!-- #Листинг 11.37: Партиал формы для создания микросообщений. app/views/shared/# #_micropost_form.html.erb  11.57 :11.62  shared/_micropost_form.html.erb -->

   
  
  <%= f.submit "Sign up as student", class: "btn btn-primary" %>

 <span class="picture">
        <%#= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
              
               <div class="actions">
                   <%#= f.submit %>
                 </div>
<% end %>
