<!-- #Листинг 11.37: Партиал формы для создания микросообщений. app/views/shared/# #_micropost_form.html.erb  11.57 :11.62  shared/_micropost_form.html.erb -->

<%= form_for(@micropost, html: { multipart: true }) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>

 <span class="picture">
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>


