<!-- #Листинг 12.16: Партиал для отображения статистики. app/views/shared/_stats.html.erb
#user.following.name = <%#= @user.following.name %>   :12.23 app/views/users/#show.html.erb    user.name = <%#= @user.name %>   user.id=<%#= @user.id %>  -->

<% @user ||= current_user %>

<%#= @user.student.fio %>


<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
  <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>

